<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modelo</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'totem/detalhesCursos.css' %}">
    <script type="text/javascript">
    let idleTime = 0;
    const idleTimeLimit = 300;

    function resetIdleTime() {
        idleTime = 0;
    }

    function checkIdleTime() {
        idleTime++;
        if (idleTime >= idleTimeLimit) {
            window.location.href = "{% url 'telaSuspensa' %}";
        }
    }

    setInterval(checkIdleTime, 1000);

    document.body.addEventListener("mousemove", resetIdleTime);
    document.body.addEventListener("keypress", resetIdleTime);
    document.body.addEventListener("click", resetIdleTime);
</script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <header>
        <a href="{% url 'telaMenu' %}" class="logo"><img src="{% static 'totem/images/logoSmartEDUC.png' %}" alt="Logo"></a>
        <div class="logout">
            <a onclick="window.history.back()">Voltar</a>
            <a href="{% url 'telaMenu' %}">Home</a>
        </div>
        <nav class="menu">
            <input id="menu-open" name="menu-open" class="menu-open" type="checkbox" />
            <label for="menu-open" class="menu-open-button">
                <span class="lines line-1"></span>
                <span class="lines line-2"></span>
                <span class="lines line-3"></span>
            </label>
            <a class="menu-item blue" href="#"><p></p></a>
            <a class="menu-item green" href="#"><p></p></a>
            <a class="menu-item red" href="#"><p></p></a>
            <a class="menu-item purple" href="{% url 'cursos' %}"><p>Cursos</p></a>
            <a class="menu-item orange" href="{% url 'sobreEscola' %}"><p>Escola</p></a>
            <a class="menu-item lightblue" href="{% url 'calendario' %}"><p><span class="material-symbols-outlined">calendar_month</span></p></a>
        </nav>
    </header>


    <section class="video-section">

        {% if curso.video %}
            <iframe width="560" height="315" src="{{ curso.video }}"
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
{% endif %}

    </section>


    <h1>{{ curso.nome }}</h1>

<div class="container">

    <div class="sessoesContainer">
    <div class="sessoes">
        <div class="sessoes1">

            <a href="#" class="active" data-content="descricao">Descrição</a>
        </div>
        <div class="sessoes2">
            <a href="#" data-content="informacoes">Informações</a>
        </div>
        <div class="sessoes3">
            <a href="#" data-content="requisitos">Requisitos</a>
        </div>
    </div>
</div>

<div id="conteudoSessao">
    <!-- Conteúdo será exibido aqui -->
    <p class="descricao"> {{ curso.descricao }}  </p>

    <p class="informacoes" style="display: none;"> {{ curso.informacoes }}</p>
    <p class="requisitos" style="display: none;">{{ curso.requisitos }}</p>
</div>


   <div class="botoesContainer">
    <div class="Ricardito">
        <a href="{{ curso.link_interesses }}" > Tenho Interesse! </a>
    </div>
    <div class="Ermano">
        <a href="{{ curso.link_informacoes }}">Mais Informações</a>
    </div>
</div>

</div>

    <script>
       const links = document.querySelectorAll('.sessoes a');
const contents = document.querySelectorAll('#conteudoSessao p');

links.forEach(link => {
    link.addEventListener('click', function(event) {
        event.preventDefault();

        // Remove a classe "active" de todos os links
        links.forEach(l => l.classList.remove('active'));

        // Adiciona a classe "active" ao link clicado
        this.classList.add('active');

        // Esconde todo o conteúdo
        contents.forEach(content => content.style.display = 'none');

        // Mostra o conteúdo correspondente ao link clicado
        const targetContent = document.querySelector(`.${this.dataset.content}`);
        if (targetContent) {
            targetContent.style.display = 'block';
        }
    });
});
    </script>

<footer>
    <img src="{% static 'totem/images/PoweredbySmart.EDUC.png' %}" alt="">
</footer>
</body>
</html>