<!DOCTYPE html>
<html lang="en"  id="TelaSuspensa">
<head>
    <meta charset="UTF-8">
    <title>BEM VIND@</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'totem/telaSuspensa.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
<a href="{% url 'telaMenu' %}" id="btn-prosseguir"></a>
    <main class="back">
        <div class="adm">
            <a href="{% url 'loginADM' %}"> <span class="material-symbols-outlined">
    account_circle </span> </a>
        </div>


        <div class="logo">
        <img src="{% static 'totem/images/logo.png' %}" alt="">
                <h1>BEM VIND@!</h1>
            <h2>Toque na tela para iniciar!</h2>
            <img src="{% static 'totem/images/PoweredbySmart.EDUC.png' %}" alt="">
        </div>

    </main>


    <script src="{% static 'totem/script.js' %}"></script>


</body>
</html>