<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Trilha de cursos Automobilística</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'totem/trilhaAuto.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
     <!-- Navegação -->
    <header>
        <!-- Logo do site -->
        <a href="{% url 'telaMenu' %}" class="logo"><img src="{% static 'totem/images/logoSmartEDUC.png' %}"></a>

        <!-- Link para logout -->
       <div class="logout">
            <a onclick="window.history.back()">Voltar</a>
            <a href="{% url 'telaMenu' %}">Inicio</a>
        </div>
<nav class="menu">
  <input
    id="menu-open"
    name="menu-open"
    class="menu-open"
    href="#"
    type="checkbox"
  />
  <label for="menu-open" class="menu-open-button">
    <span class="lines line-1"></span>
    <span class="lines line-2"></span>
    <span class="lines line-3"></span>
  </label>

  <a class="menu-item blue" href="#"><p></p></a>
            <a class="menu-item green" href="#"><p></p></a>
            <a class="menu-item red" href="#"><p></p></a>
            <a class="menu-item purple" href="{% url 'cursos' %}"><p>Cursos</p></a>
            <a class="menu-item orange" href="{% url 'sobreEscola' %}"><p>Escola</p></a>
            <a class="menu-item lightblue" href="{% url 'calendario' %}">
                <p>
                    <span class="material-symbols-outlined">calendar_month</span>
                </p>
            </a>
</nav>
    </header>

     <div class="image-container">
        <img src="{% static 'totem/images/trilha.png' %}"alt="Trilha de cursos Automobilística" >
        <div class="image-text">Trilha de cursos Automobilística</div>
    </div>
     <br><br>
     <div class="container">

         <div class="aluno">
                 <div>
                <img src="{% static 'totem/images/unnamed.png' %}">
                <p>Aluno</p>
                </div>
           </div>

         <div class="container1">

             <hr class="hrcone">
             <hr class="hrcone10 esconder ">
        <div>
        <img src="{% static 'totem/images/suspensao.jpg' %}">
        <p>Mecânico de Suspensão direção e Freios</p>
        </div>

        <div>
        <img src="{% static 'totem/images/motorciclodiesel.jpg' %}">
        <p>Mecânico de Motor Ciclo Diesel</p>
        </div>
        <div>
        <img src="{% static 'totem/images/motorciclootto.jpg' %}">
        <p>Mecânico de Motor Ciclo Otto</p>
        </div>
        <div>
        <img src="{% static 'totem/images/eletricistaautomotivo.jpg' %}">
        <p>Eletricista Automotivo</p>
        </div>

    </div>

    <div class="container2 esconder ">
        <div>
        <img src="{% static 'totem/images/ingecaodiesel.jpg' %}">
        <p>Mecânico de Injeção Eletrônica Diesel   </p>
        </div>
        <div>
        <img src="{% static 'totem/images/ingecaodeveiculosleves.jpg' %}">
        <p>Mecânico de Injeção Eletrônica de Veículos Leves</p>
        </div>
        <div>
        <img src="{% static 'totem/images/arcondicionado.jpg' %}">
        <p>Manutenção de Diagnóstico <br> de Sistemas de Climatização de Veículos Leves</p>
        </div>
    </div>
     </div>
<div class="botoes">
     <button id="mostrar-mais" onclick="mostrarOutrosCursos()">Mostrar mais</button>
    <button id="mostrar-menos" style="display: none;" onclick="esconderOutrosCursos()">Mostrar menos</button>
</div>
<footer>
    <img src="{% static 'totem/images/PoweredbySmart.EDUC.png' %}" alt="">
</footer>

    <script>
function mostrarOutrosCursos() {
  const outrosCursos = document.querySelectorAll('.esconder');
  outrosCursos.forEach((curso) => {
    curso.classList.remove('esconder');
  });
  document.getElementById('mostrar-mais').style.display = 'none';
  document.getElementById('mostrar-menos').style.display = 'block';
}

function esconderOutrosCursos() {
  const outrosCursos = document.querySelectorAll('.container2, .hrcone4, .hrcone5, .hrcone6, .hrcone7, .hrcone8, .hrcone9, .hrcone10');
  outrosCursos.forEach((curso) => {
    curso.classList.add('esconder');
  });
  document.getElementById('mostrar-menos').style.display = 'none';
  document.getElementById('mostrar-mais').style.display = 'block';
}

// Adicione essa linha para esconder os elementos inicialmente
document.addEventListener('DOMContentLoaded', esconderOutrosCursos);
    </script>


</body>
</html>